<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>
</p>

<% if @user.beer_clubs.any? %>
  <p>
    Member of
    <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
    <% end %>
  </p>
  <p>
    Pending applications
    <ul>
    <% @user.beer_clubs.each do |club| %>
      <% if club.membership_confirmations.any? %>
        <% club.membership_confirmations.each do |membership_confirmation| %>
          <li><%= membership_confirmation.user %> - <%= membership_confirmation.beer_club %>
            <%= link_to 'Confirm',confirm_url(id:membership_confirmation.id), method: :post %></li>

        <% end %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No club memberships</p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
    <li class="rating">
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>


<% if current_user.admin? %>
  <%= link_to 'Freeze account', freeze_url(id:@user.id), method: :post %>
<% end %>
