<p id="notice"><%= notice %></p>

<h1>Listing Membership Confirmations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Beer club</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_confirmations.each do |membership_confirmation| %>
      <tr>
        <td><%= membership_confirmation.user_id %></td>
        <td><%= membership_confirmation.beer_club_id %></td>
        <td><%= link_to 'Show', membership_confirmation %></td>
        <td><%= link_to 'Edit', edit_membership_confirmation_path(membership_confirmation) %></td>
        <td><%= link_to 'Destroy', membership_confirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership confirmation', new_membership_confirmation_path %>
